main{
    margin-left: 15px;
    margin-right: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

span{
    display: block;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.3;
}

// @media (min-width: 992px) {
//     align-items: center !important;
// }