/* Footer.scss */
    .content{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        margin:0 auto;
    }

    .footerNav{
        margin:80px 0 70px;


    }

    ul li{
        list-style-type: none;
        display:inline-block;
        float:left;
    }

    li{
        line-height: 1.5;
    }
  
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .footer__item {
    margin: 0 1rem;
  }
  
  .footer__copyright {
    font-size: 0.8rem;
  }
  