@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));



    
}

.container{
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

h1{
  font-weight: 800;
  font-size: 34px ;
  line-height: 34px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
