@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));



    
}

.container{
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  border:3px green solid;
}

h1{
  font-weight: 800;
  font-size: 45px ;
  line-height: 1.1;
  color:black;
  margin-bottom:22px;
}

h3{
  display:block;
  font-family: 40px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color:blue;
  text-align: center;
}
p{
  margin-bottom: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
